<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8"/>
<meta name='viewport' content="width=device-width,initial-scale=1.0,user-scalable=no"/>
<script src="../../static/vConsole-3.1.0/dist/vconsole.min.js"></script>
<script src='../vue.js'></script>
<script>
    var vConsole = new VConsole();
</script>
</head>
<body>

    <ul id='example-1'>
        <li v-for='item in items'>
            {{ item.message }}
        </li>
    </ul>

    <ul id='example-2'>
        <li v-for='(item, index) in items'>
            {{ parentMessage }} - {{ index }} - {{ item.message }}
        </li>
    </ul>

<script>
// console.log(Vue)
var example1 = new Vue({
    el: '#example-1',
    data: {
        items: [
            {message: 'Foo'},
            {message: 'Bar'}
        ]
    }
})

var example2 = new Vue({
    el: '#example-2',
    data: {
        parentMessage: 'Parent',
        items: [
            { message: 'Foo' },
            { message: 'Bar' }
        ]
    }
})
</script>
</body>
</html>
